<p>faça os inserts ( como insert mesmo), dos atributos tipo e categoria que
  falta, onde tipo tem que ser aleatorio entre jogos, pacote, dlc ou assinatura,
  e as categorias correspondentes a Ação Arcade Aventura Battle Royale Beat'in
  up Corrida Esporte, Fantasia, FPS, Hack and Slash, Luta, Pixel Art
</p>