<div class="card-container">

  <div class="card">
    <img src="{{jogo.jogosImg}}" class="card-img-top" alt="" />
    <div class="card-body card-color">
      <h6 class="card-title">{{jogo.jogosNome}}</h6>
      <a href="#" class="btn btn-secondary btn-tamanho">R$
        {{jogo.jogosPrice}}</a>
    </div>
  </div>

</div>