<div class="login-container">
  <div class="fb">
    <a href="https://www.facebook.com/" target="_blank" class="fb-inside">
      <img
        src="../assets/login/icons/icons8-facebook.png"
        alt="fb"
        class="icon-login"
      />
      Continuar com o Facebook
    </a>
  </div>
  <div class="google">
    <a
      href="https://accounts.google.com "
      target="_blank"
      class="google-inside"
    >
      <img
        src="../assets/login/icons/icons8-google-logo.png"
        alt="google"
        class="icon-login"
      />
      Continuar com o Google
    </a>
  </div>
  <div class="enfeite-login"></div>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1" class="input-color">Email </label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="input-color">Senha</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Lembre de mim</label>
    </div>
    <button type="submit" class="btn btn-primary btn-login">
      Acessar
    </button>
    <a href="http://localhost:3000/register" target="_self">
      Primeiro Cadastro?</a>
  </form>
</div>