main {
  min-height: 600px;
  background: linear-gradient(
    180deg,
    #1d5d76 8.24%,
    #142a3d 50.43%,
    #141627 100%
  );
}

.game-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1050px;
  padding: 30px;
  margin-left: 40px;
}

.video {
  width: 720px;
  height: 385px;
}
.banner-img {
  width: 240px;
  height: 110px;
}

.title-game {
  font-size: 42px;
  color: #ffff;
  font-weight: bold;
  margin-left: 25px;
}

.card {
  width: 550px;
  background-color: #141627;
  color: #fff;
  min-height: 300px;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-star {
  width: 28px;
  height: 28px;
  margin-left: 2px;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.btn {
  max-width: 170px;
  font-weight: bold;
  font-size: 18px;
}

strong {
  font-size: 18px;
}
